<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<!-- Default log to console only -->
	<appender name="local-console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<!-- Default logger -->
	<root level="DEBUG">
		<appender-ref ref="local-console"/>
	</root>

</configuration>