<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootAdminApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <extension name="coverage" enabled="false" merge="false" sample_coverage="true" runner="idea">
      <pattern>
        <option name="PATTERN" value="ax.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <option name="SPRING_BOOT_MAIN_CLASS" value="ax.SpringBootAdminApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <module name="spring-boot-admin" />
    <envs />
    <method />
  </configuration>
</component>